<!DOCTYPE html>
{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CubicFun Otel Burj El Arab Puzzle - Marwin.kz</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="{% static 'css/prodView.css' %}">
</head>
<body>
	<div class="wrapper">
		<main class="main">
			<section class="product">
				<div class="product-image">
					<img src="{{product.image.url}}" alt="CubicFun Otel Burj El Arab Puzzle">
				</div>
				<div class="product-details">
					<h1 class="product-title"><Cub></Cub>{{product.name}}</h1>
					<div class="product-rating">
						<span class="rating"><i class="fas fa-star"></i></span>
						<span class="rating"><i class="fas fa-star"></i></span>
						<span class="rating"><i class="fas fa-star"></i></span>
						<span class="rating"><i class="fas fa-star"></i></span>
						<span class="rating"><i class="far fa-star"></i></span>
						<span class="rating-count">(12 Reviews)</span>
					</div>
					<p class="product-price">${{product.prices}}</p>
					<div class="product-description">
						<h2 class="product-subtitle">Description</h2>
						<p class="product-text">{{product.descript}}</p>
					</div>
					<form class="product-form">
						<label for="quantity" class="product-label">Quantity:</label>
						<input type="number" id="quantity" name="quantity" min="1" value="1" class="product-quantity">
						<button type="submit" class="product-button">Add to Cart</button>
					</form>
					<br>
					<br>
					<br>
					<h3>Recently Viewed</h3>
    					<div class = "related">
        					{%for recent_product in recently_viewed_products%}
							<a href="{% url 'productView' recent_product.id%}">
							<img src="{{recent_product.image.url}}" alt="" class="related_image" style="weight:110px; height:110px;">
							</a>
        					{% endfor %}
    					</div>
				</div>
			</section>
		</main>
	</div>
</body>
</html>
{% endblock content %}
