{%extends 'store/Main.html'%}
{% block content %}
    <h2 class="text center">Search Results</h2>
            <hr>
    <div class="container">

        <div class="row">
        {% for product in products %}
                <div class="col-lg-4">
                    <img class = "thumbnail" src = "{{product.image.url}}" style="width:300px; height:300px">
                    <div class="box-element product">
                        <h6><a href = "" style="color:black"><strong>{{product.name}}</strong></a></h6>
                        <hr>
                        <button class = "btn btn-outline-secondary add-btn">Add to Cart</button>
                        <a class = "btn btn-outline-success" href = "#">View</a>
                        <h4 style = "display: inline-block;float: right">${{product.prices|floatformat:2}}</h4>
                    </div>
                </div>
        {% endfor %}
        </div>

    </div>
{% endblock%}